In [9]:
import pandas as pd

In [10]:
clicks = pd.read_csv('train-small-for-impressions.csv', na_values='?', encoding="utf-8-sig")

In [11]:
clicks.head()

,user,sku,category,query,click_time,query_time
0,000017f79c2b5da56721f22f9fdd726b13daf8e8,1,pcmcat193100050014,#,2011-08-24 12:56:58.91,2011-08-24 12:55:13.012
1,000017f79c2b5da56721f22f9fdd726b13daf8e8,2,abcat0101001,#,2011-10-25 07:18:14.722,2011-10-25 07:16:51.759
2,000017f79c2b5da56721f22f9fdd726b13daf8e8,2,abcat0101005,#,2011-10-25 07:19:51.697,2011-10-25 07:16:51.759
3,000017f79c2b5da56721f22f9fdd726b13daf8e8,3,pcmcat193100050014,foo,2011-08-24 12:56:58.91,2011-08-24 12:55:13.012
4,000017f79c2b5da56721f22f9fdd726b13daf8e8,4,abcat0101001,foo,2011-10-25 07:18:14.722,2011-10-25 07:16:51.759

## Clicks

In [12]:
# rank row: = for this query, this sku was clicked N times
# rank row: = query | sku | clicked
pairs = clicks.groupby(['query', 'sku']).size().reset_index(name='clicks')
pairs

  query  sku  clicks
0     #    1       1
1     #    2       2
2   foo    3       1
3   foo    4       2
4   foo    5       3

## Rank

In [13]:
pairs_ = pairs.copy()
pairs_['rank'] = pairs_.groupby('query')['clicks'].rank(method='dense', ascending=False)
pairs_

  query  sku  clicks  rank
0     #    1       1   2.0
1     #    2       2   1.0
2   foo    3       1   3.0
3   foo    4       2   2.0
4   foo    5       3   1.0

## Impressions

In [14]:
pairs__ = pairs.copy()
pairs__['num_impressions'] = pairs__.groupby('query')['clicks'].transform('sum')
pairs__

  query  sku  clicks  num_impressions
0     #    1       1                3
1     #    2       2                3
2   foo    3       1                6
3   foo    4       2                6
4   foo    5       3                6