In [38]:
import pandas as pd

In [39]:
# excluded ./train.csv file from Git as it's too big
clicks = pd.read_csv('./train.csv', na_values='?', encoding="utf-8-sig")

In [40]:
clicks.head()

,user,sku,category,query,click_time,query_time
0,dad0afc8f07bd2a7b49e3ec6a2e4bea6a73c0329,13788476,cat02724,My neighbor totoro,2011-08-16 01:21:30.110,2011-08-16 01:18:46.485
1,b5d56da70406009f1f3c4416407ae0a1550b8d10,2842092,pcmcat209000050008,Netbook,2011-09-01 06:41:22.411,2011-09-01 06:39:37.103
2,7035cb280c8c1655a1e3194d6df45e7bb8fda559,1122196,pcmcat147700050019,Move charger,2011-09-06 20:59:23.146,2011-09-06 20:58:20.761
3,bca46af56623b6bc5629510f3ad9389435ce2a7c,2658129,pcmcat212600050008,Mac mini,2011-09-03 20:37:46.207,2011-09-03 20:37:14.278
4,2db68e09833124a0e540875e4f8a74c46f4acab9,9375071,abcat0206006,Pocket radio,2011-09-25 20:58:31.433,2011-09-25 20:56:21.065

In [41]:
# Groupby creates several Data frames each filtered by the query parameter
# Useful to use when I have a question as: "For each category I want to calculate...."
# https://www.youtube.com/watch?v=qy0fDqoMJx8
query_gb = clicks.groupby('query')

## Most popular queries

In [42]:
# here "sku" column is randomly chosen column. Any other column would work as well.
query_gb.sku.agg(['count']).sort_values('count', ascending=False)

                                    count
query
Hp touchpad                          4704
hp touchpad                          3567
Touchpad                             2996
lcd tv                               2883
iPad                                 2389
...                                   ...
Phillips earbuds                        1
Phillips dvp 3982                       1
Phillips dual screen dvd                1
Phillips dual blu                       1
��Mfr: TOSHIBA ��Model: BDX4200 ��      1

[136663 rows x 1 columns]

## Number of "iphone" queries

In [43]:
iphones = query_gb.get_group('iphone')

In [44]:
iphones['sku'].count()

272

## Most clicked SKU for "iphone" query

In [45]:
iphones = query_gb.get_group('iphone')

In [46]:
iphones['sku'].count()

272

## Most clicked SKU for "iphone" query

In [47]:
iphones = query_gb.get_group('iphone')

In [48]:
sku_gb = iphones.groupby('sku')

In [49]:
sku_gb.user.agg(['count']).sort_values('count', ascending=False)

          count
sku
2901031      32
9929953       8
8477908       7
1644129       5
9325624       5
8443259       5
7966481       3
2726333       3
8405923       3
19498258      2
8913018       2
7601339       2
7841179       2
9530206       1
9287265       1
8900282       1
1067587       1
1222413       1
6884071       1
3369286       1
3232178       1
2939201       1
2834322       1
2416348       1
1439236       1
1363949       1
7342663       1

## Most clicked "Category" for "iphone" query

In [50]:
category_gb = iphones.groupby('category')

In [51]:
category_gb.user.agg(['count']).sort_values('count', ascending=False)

                    count
category
cat02015               55
cat02724               15
pcmcat232900050017      8
cat02661                3
abcat0307019            1
abcat0901004            1
abcat0915010            1
cat02009                1
cat02012                1
cat02702                1
cat09000                1
pcmcat194500050006      1
pcmcat209400050001      1
pcmcat209400050003      1
pcmcat225000050009      1
pcmcat247600050018      1

## Most popular queries and most selected SKU for it

In [52]:
clicks.groupby(['query', 'sku']).sku.agg(['count']).sort_values(by='count', ascending=False)

                                            count
query                              sku
Hp touchpad                        2842056   2749
hp touchpad                        2842056   2041
Touchpad                           2842056   1766
Hp touchpad                        2842092   1535
touchpad                           2842056   1304
...                                           ...
Paul wall                          1669067      1
Paul! DVD                          2871103      1
Paul: dvd                          2871185      1
Paula Abdul                        8319535      1
��Mfr: TOSHIBA ��Model: BDX4200 �� 2114042      1

[302695 rows x 1 columns]