In [34]:
import pandas as pd

In [35]:
training = pd.read_csv('training.xgb.csv', na_values='?', encoding="utf-8-sig")
del training['Unnamed: 0']
del training['doc_id']
del training['product_name']

In [36]:
training.head()

,query,sku,clicks,rank,num_impressions,query_id,name_match,grade
0,sound cards,1173369,13,2.0,76,3020,9.032271,0.0
1,iPad 2,1945674,67,4.0,1600,2347,0.000000,0.0
2,Canon flash,8968334,14,1.0,52,309,10.350505,0.0
3,Remote start,9347815,21,4.0,192,1240,0.000000,0.0
4,Blackberry,2265381,48,1.0,384,221,7.975333,0.0

In [37]:
training.sort_values(by='grade', ascending=False)

,query,sku,clicks,rank,num_impressions,query_id,name_match,grade
4359,Apple tv,1331156,920,1.0,1106,155,11.863342,1.0
5627,Hp tablet,2842056,1113,1.0,2027,703,12.614981,1.0
23,Hp touch pad,2842056,619,1.0,1020,706,5.448473,1.0
2207,hp touchpad,2842056,3090,1.0,5442,2317,15.687536,1.0
704,iPod touch,9225377,796,1.0,1362,2395,7.411640,1.0
...,...,...,...,...,...,...,...,...
3194,Klipsch,2138273,20,4.0,313,833,6.599073,0.0
3193,2622037 2127204 2127213 2121716 2138291,2969477,10,26.0,3248,15,0.000000,0.0
3192,laptop charger,8881695,15,3.0,210,2519,3.991574,0.0
3191,inverter,9889815,14,2.0,104,2424,8.387161,0.0
9285,netbooks,2754052,30,3.0,252,2675,3.928680,0.0