In [1]:
import pandas as pd

In [3]:
test = pd.read_csv('xgb_test_output.csv', na_values='?', encoding="utf-8-sig")

In [4]:
test.head()

       query               sku  rank    type  found    new       score
0  google tv           1257136     1  simple   True  False  1069.69410
1  google tv           5764553     2  simple  False  False   994.31165
2  google tv           3991658     3  simple  False  False   885.82430
3  google tv  9999138200050010     4  simple  False  False   883.73865
4  google tv  9999138200050012     5  simple  False  False   834.22630

In [5]:
test.sort_values(by='score', ascending=False)

,query,sku,rank,type,found,new,score
19500,Just dance 3,2803428,1,ltr_hand_tuned,True,False,2.631898e+03
18500,Just dance 3,2803428,1,hand_tuned,True,False,2.630855e+03
55188,memory stick pro duo,9016851,1,ltr_hand_tuned,True,False,2.321733e+03
54188,memory stick pro duo,9016851,1,hand_tuned,True,False,2.320805e+03
120712,play station 3,2613621,1,ltr_hand_tuned,False,False,2.284302e+03
...,...,...,...,...,...,...,...
22857,2622037 2127204 2127213 2121716 2138291,2250079,358,hand_tuned,False,False,1.000000e-07
22858,2622037 2127204 2127213 2121716 2138291,2250097,359,hand_tuned,True,False,1.000000e-07
22859,2622037 2127204 2127213 2121716 2138291,2300417,360,hand_tuned,True,False,1.000000e-07
22860,2622037 2127204 2127213 2121716 2138291,2307492,361,hand_tuned,False,False,1.000000e-07
22828,2622037 2127204 2127213 2121716 2138291,2634096,329,hand_tuned,True,False,1.000000e-07